```
# LaTeX auxiliary files
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.out

# Generated LaTeX files in students directory
students/**/*.aux
students/**/*.log
students/**/*.toc
students/**/*.lof
students/**/*.lot
students/**/*.fls
students/**/*.fdb_latexmk
students/**/*.synctex.gz
students/**/*.bbl
students/**/*.blg
students/**/*.idx
students/**/*.ind
students/**/*.ilg
students/**/*.out
```