# Compiled and build artifacts
*.pyc
__pycache__/
*.o
*.obj
dist/
build/

# Dependencies
.venv/
venv/
node_modules/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
.env.*

# Editors
.vscode/
.idea/

# Coverage
coverage/
htmlcov/
.coverage

# Python specific
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
.eggs/

# Compressed files
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

# System files
.DS_Store
Thumbs.db

# MyPy cache
.mypy_cache/
# Pytest cache
.pytest_cache/

# Java/Maven/Gradle
target/
.gradle/

# Julia
julia-*/

# Zig
zig-out/
zig-cache/

# Go
*.exe
*.dll
*.so
*.a
*.obj
*.out

# Web build artifacts
dist/
build/
*.min.js
*.min.css
*.bundle.js

# Temporary files
*.tmp
*.temp
*~
.#*
.DS_Store
Thumbs.db

# Configuration and secrets
config/
secrets/
credentials.json
*.key
*.pem
*.crt
*.cert

# Virtual environments and caches
.venv/
venv/
env/
ENV/
.conda/
.conda-env/
.cache/
__pycache__/
*.pyc
*.pyo
*$py.class
*.so
.Python
*.egg-info/
.eggs/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
.hypothesis/
.cover/
.mypy_cache/
.pytype/
.pyre/
.pyre_check/
.direnv/
.envrc
.flake8
.isort.cfg
.pre-commit-config.yaml
.pyup.yml
.requirements.txt
.safety-db/
.sass-cache/
.spyderproject
.spyproject
.svn/
.swf
.thumbs/
.trash-*
.Trashes
.well-known/
.wkhtmltopdf
.yarn-integrity
.yardoc/
.ycm_extra_conf.pyc
.zcompdump
.zsh_history
.zshrc
.zshenv
.zprofile
.zlogin
.zlogout
.0install/
.3t/
.7z
.a
.aac
.aiff
.alac
.all-contributorsrc
.angular-cli.json
.ansible/
.apdisk
.appveyor.yml
.arcconfig
.architect
.arclint
.arcrc
.asa
.asciidoc
.asd
.asm
.atoum.php
.autotest
.autotools
.aws/
.azure-pipelines.yml
.babel.json
.babelrc
.babelrc.js
.bak
.bash_aliases
.bash_history
.bash_logout
.bash_profile
.bashrc
.bemjson.js
.bin
.bin/
.binstar.yml
.bithoundrc
.blg
.bluemix/pipeline.yaml
.bower.json
.bowerrc
.brackets.json
.browserslist
.buckconfig
.build/
.buildpacks
.buildpath
.builds
.bundle/
.byebug_history
.byobu/
.bz2
.bzr/
.bzr/branch-format
.bzr/README
.bzrignore
.c9/
.c9revisions/
.cabal-sandbox/
.cache/
.cane/
.cask
.cc
.cdx
.cfg
.cfignore
.cfm
.cgi
.ch
.changes
.chartignore
.checkignore
.checkstyle
.circleci/config.yml
.clang-format
.clang_complete
.class
.classes/
.cli.xml
.clifile
.clj
.cljc
.clojure
.coffee
.coffee-lintignore
.com
.compile
.components/
.composer
.composer/composer.lock
.concrete/
.conda/
.condarc
.config/
.config/gatsby/
.config/gcloud/
.config/karma.conf.js
.config/pip.conf
.config/stripe
.config/yarn/global/
.configuration
.configuration.php
.constructor
.contexts
.contract
.controls/
.cookiecutterrc
.coq-native/
.cordova/config.json
.core
.coverage
.coveragerc
.coveralls.yml
.cpan/
.cpanel/
.cproject
.cr/
.crt
.cs
.csdp.cache
.csi
.css
.csv
.ctags
.curlrc
.cvs
.cvsignore
.dart_tool/
.dat
.data/
.db
.db.xml
.db.yaml
.deps
.dir-locals.el
.directory
.divzero.log
.do
.doc
.docker/
.dockerignore
.docs/
.document
.dotfiles/
.dotnet/
.dpkg-old
.droolsrules/
.ds_store
.dub
.dummy
.dump
.dynamodb/
.eclipse
.editorconfig
.eggs/
.ejs
.el
.elasticbeanstalk/
.elb
.elc
.element/
.emacs
.emacs.desktop
.emacs.desktop.lock
.emails/
.ember-cli
.empty-folder
.ensime
.ensime_cache/
.ensime_lucene/
.env
.env.backup
.env.dev
.env.development.local
.env.example
.env.local
.env.prod
.env.production.local
.env.sample
.env.test
.env.test.local
.env.travis
.environment
.envrc
.envs/
.envy
.err
.esdoc.json
.esformatter
.eslintcache
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.eslintrc.yaml
.eslintrc.yml
.esmtprc
.espressostorage
.ex
.exe
.exercism
.exports
.external/
.external/data
.externalToolBuilders/
.extra
.factorypath
.fake/
.fbprefs
.fdb.md5
.feature
.files
.filetree
.fish
.fishrc
.fixtures.yml
.flac
.flowconfig
.fontconfig/
.fontforge/
.foodcritic
.fop/
.forktest.log
.forktree.log
.formatter.exs
.frctl.yml
.fuelignore
.functions
.fuse_hidden
.fusebox/
.gbent
.gdbinit
.gem
.gemfile
.gemrc
.gems
.gemspec
.gf/
.gfclient/
.ghc.environment
.ghci
.gho
.gif
.git
.git/
.git2/
.gitattributes
.gitchangelog.rc
.gitconfig
.github/
.github/workflows/
.gitignore
.gitignore.export-ignore
.gitignore_global
.gitignore~$*
.gitkeep
.gitlab
.gitlab-ci.yml
.gitlab/issue_templates
.gitlab/merge_request_templates
.glide/
.global.Rhistory
.gmetad.conf
.gnupg/
.godir
.golangci.yml
.google/
.goreleaser.yml
.goxc.json
.gphoto/
.gradle/
.gradletasknamecache
.grc
.graphite
.graphviz/
.grunt/
.gtkrc
.guile_history
.gwt-tmp/
.gwt/
.gz
.h
.hack
.haml
.handlebars
.haskell
.hello.log
.helm/
.hg
.hg/
.hg_archival.txt
.hg_checkpoints/
.hg_dirstate
.hg_ignore
.hg_location
.hg_patch
.hg_remove
.hg_verify/
.hgignore
.hgrc
.hi
.histfile
.history
.hlint.yaml
.hoogle
.hpc/
.hs
.hspec
.htaccess
.htf/
.htm
.html
.httpie/
.hushlogin
.hyper.js
.hypothesis/
.i3/
.i3blocks.conf
.ico
.id
.idea/
.identcache
.ignored/
.import/
.iml
.iml/
.influx_history
.ini
.inputrc
.inst
.install
.installdeps
.intellij/
.interproscan-5/
.ionide/
.ipynb_checkpoints
.irb-history
.irbrc
.isort.cfg
.java
.java-buildpack.log
.java-version
.jazzy.yaml
.jekyll-cache/
.jekyll-metadata
.jenkins.sh
.jenkins.yml
.jestrc
.jobs/
.js
.jsbeautifyrc
.jscs.json
.jscsrc
.jshintignore
.jshintrc
.jslintrc
.json
.jsp
.jupyter/
.jvmopts
.kdbx
.keep
.key
.keys
.kitchen.cloud.yml
.kitchen.docker.yml
.kitchen.dokken.yml
.kitchen.local.yml
.kitchen.yml
.kitchen/
.komodotools
.komodotools/
.ksh_history
.landscape.yaml
.landscape.yml
.language-subtag-registry-cache
.language-subtag-registry-cache.xz
.last_cover_stats
.leaky-meta/
.learn/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.leiningen/
.lesshst
.lgt_tmp/
.lgtoken
.lia.cache
.lib/
.libs/
.lifecycleignore
.lighttpd.conf
.listing
.listings
.loadpath
.LOCAL
.local
.local/
.localeapp/
.localhistory/
.localsettings.php
.lock
.lock-wscript
.log
.log/
.login
.login_history
.logout
.luacheckrc
.luacov
.luna/
.lz
.lz4
.lzh
.lzo
.m
.m2/
.m4
.macos
.magnolia
.magnolia/logs/
.mailmap
.mailrc
.manifest
.map
.markdownlint.json
.masterpages/
.maven/
.mc
.mc/
.mdb
.mf
.meteor/
.metrics
.mfractor/
.mod
.model/
.models/
.modules
.mono/
.mypy_cache/
.mysql_history
.nakignore
.name
.nano_history
.nano.save
.navigation/
.nb-gradle/
.nbattrs
.nbbuild/
.nbi/
.netbeans/
.netbeans_ids
.netbeansproj/
.ncb
.ndll
.nelhosoftware.update/
.nelhosoftware.version
.netrc
.nfs
.ngrok2/
.nia.cache
.ninja_deps
.ninja_log
.nlia.cache
.no-sublime-package
.node-version
.node_repl_history
.nodemon.json
.nodeset.yml
.nolock
.nomad
.nope
.npm
.npm/
.npmignore
.npmrc
.nra.cache
.nrepl-port
.nsconfig
.nsf
.ntvs_analysis.dat
.nuget/
.nuget/packages.config
.nuxt/
.nyc_output
.nycrc
.o
.obj
.ocp-indent
.oh-my-zsh/
.old
.oldenv/
.opam/
.openapi-generator/
.openapi-generator-ignore
.openocd.log
.options
.org-id-locations
.org_todo/
.osx
.out
.output
.ovpn
.p12
.pac
.pac.pac
.pac~
.packages
.pairs
.paket/
.parcel-cache/
.parallel/
.parentlock
.pass
.passes
.password
.passwords
.passwd
.patches/
.path
.pdb
.pdf
.pem
.perf
.perlbrew/
.perltidyrc
.pfx
.pgadmin3.lock
.pgpass
.pgsql_history
.phan/
.php
.php_cs
.php_cs.dist
.php_history
.phpcs.xml
.phpstorm.meta.php
.phpunit.result.cache
.pid
.pids
.pip.conf
.pip/
.pipeline/
.pivotal
.pkgmeta
.pki/
.pl
.plan
.playground
.pm2/
.pmd
.pmtignore
.png
.poggit.yml
.postcssrc.js
.powenv
.powrc
.pre-commit-config.yaml
.precomp
.prettierignore
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.toml
.prettierrc.yaml
.preview/
.priority.log
.pro
.procmailrc
.project
.project/
.projectile
.projections.json
.properties
.prospectus
.pry_history
.psci
.psci_modules
.psql_history
.psqlrc
.pst
.pub
.publishrc
.pug-lintrc
.puglintrc.json
.puppet-lint.rc
.pure_history
.pwd
.pypirc
.pyre/
.pytest_cache/
.python
.python-eggs
.python-history
.python-version
.pyup.yml
.qmake.cache
.qmake.stash
.qqestore/
.r
.rakeTasks
.rbenv-gemsets
.rbenv-version
.rbenv-vars
.rbenv.d/
.rdsTempFiles
.readthedocs.yml
.rebar
.rebar3
.recommenders
.redcar
.rediscli_history
.reduxrc
.reek
.release.json
.remarkrc
.remote-sync.json
.repl_history
.repo-metadata.json
.reviewboardrc
.revision
.rhistory
.rhosts
.ri
.rkt
.root
.ropeproject/
.rpm
.rpt2_cache/
.rspec
.rspec_parallel
.rsync-filter
.rtlcssrc
.rubocop.yml
.rubocop_todo.yml
.ruby-gemset
.ruby-version
.rultor.yml
.rvmrc
.s3.yml
.s3backupstatus
.s3cfg
.sailsrc
.sass-cache/
.sass-lint.yml
.scala_dependencies
.scala_history
.scalafmt.conf
.sconf_temp/
.sconsign.dblite
.scrapy
.screenrc
.scss-lint.yml
.secrets.baseline
.selected_editor
.semaphore/semaphore.yaml
.serverless/
.settings
.settings/
.shell.pre-oh-my-zsh
.sh_history
.shrc
.shtml
.simplecov
.slather.yml
.sleepguard
.slugignore
.smalltalk.ston
.smileys/
.smushit-status
.snyk
.softint.log
.spacemacs
.spacemacs.d/
.spamassassin
.spin.log
.springBeans
.spyderproject
.spyproject
.sql
.sqlite
.sqlite3
.sqlite_history
.src
.src/
.src/app/
.src/test/
.ssh/
.st_cache/
.stack-work/
.statemap/
.statsd-client
.stestr.conf
.stickler.yml
.style.yapf
.styleci.yml
.stylelintignore
.stylelintrc
.stylelintrc.json
.stylintrc
.sublime-gulp.cache
.sublime-project
.sublime-workspace
.subversion
.sudo-as-root.flag
.suo
.svn
.svn/
.svnignore
.sw
.swf
.swift-version
.swiftlint.yml
.swiftpm
.swiftstate
.swp
.sync.yml
.synthquota
.tachikoma.yml
.tags
.tar
.tar.bz2
.tar.gz
.target
.tconn/
.tcshrc
.teamcity/settings.kts
.temp/
.template-lintrc.js
.templates/
.temporaryitems
.tern-port
.tern-project
.terraform.d/checkpoint_cache
.terraform.tfstate.lock.info
.terraform/
.terraform_version
.testbss.log
.testr.conf
.tex
.texlipse
.texpadtmp
.tf
.tf.json
.tfbackend
.tfignore
.tflint.hcl
.tfstate
.tfvars
.tgitconfig
.tgz
.thumbs
.thunderbird/
.tm_properties
.tmux.conf
.tmp
.tmp/
.tmp_versions/
.tmux.conf
.tmuxinator.yml
.tool-versions
.tools/phpcs.xml
.tools/phpunit.xml
.tox
.tox/
.transients_purge.log
.trash/
.travis.yml
.travis.yml.swp
.travis/
.travis/config.yml
.travisci.yml
.tree
.trilium-api.log
.trilium.log
.truffle.js
.truffle.json
.trust/
.tsbuildinfo
.tsconfig.json
.tshistory
.tt
.ttf
.tugboat
.tvsconfig
.tx/
.txt
.types
.typo3/
.unibeautifyrc
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un......un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~......un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un~$
.un......